<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargador de YouTube</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />


</head>
<body>
    <div class="container">
        <h1>Descargador de YouTube</h1>
        <form id="download-form">
            <input type="text" id="url" placeholder="Ingresa la URL del video de YouTube" required>
            <button type="submit">Descargar</button>
        </form>
        <div id="info-message" class="info-message"></div>
        <div id="error-message"></div>
        <div id="progress-bar">
            <div id="progress">0%</div>
        </div>
        <div id="video-info"></div>
        <div id="download-status"></div>
    </div>

    {% block script%}

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% endblock %}
</body>
</html>